@import "tailwindcss";

:root {
  /* color palette */
  --color-blue-200: #e2eff3;
  --color-blue-600: #32798f;
  --color-blue-700: #214f5d;
  --color-green-400: #1fb0a9;
  --color-gray-900: #2f2e2e;
}

@theme {
  --font-quicksand: var(--font-quicksand);
  --font-barlow: var(--font-barlow);

  --color-body-primary: var(--color-gray-900);
  --color-primary: var(--color-blue-600);
  --color-primary-dark: var(--color-blue-700);
  --color-secondary: var(--color-green-400);

  --text-h1: 32px;
  --text-h2: 24px;
  --text-body: 18px;

  --leading-h2: 34px;
  --leading-body: 28px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-blue-200);
    --foreground: #ededed;
  }
}

body {
  background: var(--color-blue-200);
  color: var(--foreground);
  font-family: var(--font-barlow);
}

ul li {
  left: 0;
  position: relative;
  text-indent: 16px;
}

ul li:before {
  background: var(--color-green-400);
  border-radius: 100%;
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  left: 0;
  top: 9px;
}
